In [3]:
import pandas as pd

In [47]:
vaccination_df = pd.read_csv("imputed_pi_works_file.csv")
vaccination_df.head()

   Unnamed: 0    country        date  daily_vaccinations   vaccines
0           0  Argentina  12/29/2020              6483.0  Sputnik V
1           1  Argentina  12/30/2020             15656.0  Sputnik V
2           2  Argentina  12/31/2020             15656.0  Sputnik V
3           3  Argentina    1/1/2021             11070.0  Sputnik V
4           4  Argentina    1/2/2021              8776.0  Sputnik V

In [46]:
#List top 3 countries with highest median number of daily vaccinations
df_top_3=vaccination_df.groupby("country").median().sort_values("daily_vaccinations", ascending=False)
df_top_3 = pd.DataFrame(df_top_3)
df_top_3.drop("Unnamed: 0",axis=1).head(3)

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0

In [48]:
#What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) 
vaccination_df.head()

   Unnamed: 0    country        date  daily_vaccinations   vaccines
0           0  Argentina  12/29/2020              6483.0  Sputnik V
1           1  Argentina  12/30/2020             15656.0  Sputnik V
2           2  Argentina  12/31/2020             15656.0  Sputnik V
3           3  Argentina    1/1/2021             11070.0  Sputnik V
4           4  Argentina    1/2/2021              8776.0  Sputnik V

In [53]:
vaccination_df[vaccination_df['date']=='1/6/2021'].daily_vaccinations.sum()

1485255.0

In [58]:
url = "<url>https://xcd32112.smart_meter.com</url>"

In [65]:
url[url.index('/')+2:-6]

'xcd32112.smart_meter.com'