In [3]:
import pandas as pd

In [6]:
vaccination_df = pd.read_csv("imputed_pi_works_file.csv")
vaccination_df.head()

   Unnamed: 0    country        date  daily_vaccinations   vaccines
0           0  Argentina  12/29/2020              6483.0  Sputnik V
1           1  Argentina  12/30/2020             15656.0  Sputnik V
2           2  Argentina  12/31/2020             15656.0  Sputnik V
3           3  Argentina    1/1/2021             11070.0  Sputnik V
4           4  Argentina    1/2/2021              8776.0  Sputnik V

In [12]:
# df_with_median = vaccination_df.copy()
# df_with_median["vaccination_median"]
vaccination_df.groupby("country").median().sort_values("daily_vaccinations", ascending=False).head()

                Unnamed: 0  daily_vaccinations
country
United States       1440.0            378253.0
China                235.0            276786.0
India                632.0            173922.0
Turkey              1358.0            150356.0
United Kingdom      1403.5            120409.0