In [88]:
import pandas as pd

In [89]:
vaccination_df = pd.read_csv("PI_works_vaccinations.csv")

In [90]:
vaccination_df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [91]:
# vaccination_df[vaccination_df["country"]=="Austria"].daily_vaccinations.min()

In [92]:
#Create a dataframe with minimun daily_vaccination per
# relevant country and of same size as vaccination_df to be used
#to fill the NA's of the daily_vaccination per country column
min_df = vaccination_df.groupby('country')['daily_vaccinations'].transform('min')

# min_df.head(30)

In [93]:
vaccination_df["daily_vaccinations"]= vaccination_df["daily_vaccinations"].fillna(min_df)

In [94]:
vaccination_df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V